Package: createap
Version: 0.4.6-1ubuntu1
Architecture: amd64
Maintainer: caozuohua <caozuohua@qq.com>
Installed-Size: 87
Depends: procps, hostapd, iproute2, iw, dnsmasq
Section: net
Priority: optional
Homepage: https://github.com/oblique/create_ap
Description: This script creates a NATed or Bridged WiFi Access Point.
 Features:
 * Create an AP (Access Point) at any channel.
 * Choose one of the following encryptions: WPA, WPA2, WPA/WPA2, Open (no encryption).
 * Hide your SSID.
 * Disable communication between clients (client isolation).
 * IEEE 802.11n & 802.11ac support
 * Internet sharing methods: NATed or Bridged or None (no Internet sharing).
 * Choose the AP Gateway IP (only for 'NATed' and 'None' Internet sharing methods).
 * You can create an AP with the same interface you are getting your Internet connection.
 * You can pass your SSID and password through pipe or through arguments (see examples).
